apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.metadata.name  }}
  labels:
    app: {{ .Values.metadata.app  }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.metadata.app  }}
  template:
    metadata:
      labels:
        app: {{ .Values.metadata.app  }}
    spec:
      containers:
      - name: {{ .Values.containers.name  }}
        image: {{ .Values.containers.image  }}
        ports:
        - containerPort: {{ .Values.containers.port  }}